body {
	margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
	padding: 20px;
}

.image img {
	border-radius: 50%;
}

.icon .fa-heart {
	color: #e0245e;
}

a.post {
	color: #000000;
}

a.category {
	display: inline-block;
	margin: 0 5px;
}

.new-comment {
	border-top: 1px solid rgba(219, 219, 219, 0.5);
	margin-top: 1rem;
	margin-bottom: 2rem;
	padding-top: 1rem;
	padding-bottom: 2rem;
}