body {
	margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
	padding-top: 20px;
}

.image img {
	border-radius: 50%;
}

.icon .fa-heart {
	color: #e0245e;
}

a.post {
	color: #000000;
}

a.category {
	display: inline-block;
	margin: 0 5px;
}